<div class="spiders">
<% @spiders.each do |spider| %>
	<h3> <%= spider.name %> </h3>
	<%= image_tag spider.image_url, height: '32', width: '32' %>
	<%= link_to spider.name, spider %>
	Terror Level: <%= spider.terror %>
	<%= link_to "edit spider", edit_spider_path(spider) %>
	<%= link_to "destroy spider", spider, method: :delete, data:{confirm: "are you sure?"} %>
<% end %>
</div>

<%= link_to "New Spider", new_spider_path %>

<!-- button_to does post by default -->