<div class="spider">
	<div> <%=@spider.name %></div>
	<div> <%=@spider.poisonous %></div>
	<div> <%=@spider.color %></div>
	<div> <%=@spider.weight %></div>
	<div> <%=@spider.terror %></div>
	<div> <%=@spider.habitat %></div>
	<div> <%=@spider.origin %></div>
	<div> <%= image_tag @spider.image_url %> </div>
</div>

